

.fade{
    
   
    position:flex; 
    top:100;
    margin-top: 300;
    letter-spacing:2px;
    color:#8d8b8b;
    font-size: 24px;
    font-family: 'Chonburi', cursive;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Prata', serif;
    text-align: center;
   
    text-shadow: 2px 2px 3p
    

    

}
