
.fadein {
    opacity: 0;
    animation: fadein 4s ease forwards;
   }
   @keyframes fadein {
    100% {  opacity: 1;}
   }

   .txt01 {animation-delay: 0.1s;}
   .txt02 {animation-delay: 0.5s;}
   .txt03 {animation-delay: 1s;}
   .txt04 {animation-delay: 1.5s;}
   .txt05 {animation-delay: 2s;}
